<template name="LoginPage">
<div class="loginpage">
    <form>
        Email: <input type="text" id="input_email"><br>
        Password: <input type="password" id="input_password"><br>
    </form>
    <div class="errors" id="loginerrorarea">
    </div>
    <div class="loginoptions">
        <div class="loginbutton">Login</div>
        <div class="createaccountbutton">Create Account</div>
    </div>
    <div id="facebook_login" class="facebookloginarea">Or login with facebook</div>
</div>
</template>
